[Desktop Entry]
Version=1.0
Name=LentoDVD Speed Limiter
Comment=Control the maximum speed of your DVD/CD drive from the system tray
Exec=lento_dvd
Icon=/usr/share/lento_dvd/img/icon-off.svg
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
